<div class="row">
  <div id="content" class="col-md-4 col-md-offset-4">
	<h1>Mails#index</h1>
	<p>Find me in app/views/mails/index.html.erb</p>
	<p>current user: <%= current_user.id %></p>
  </div>
</div>